/* app global css */

.theme-clr{
    color: #dba703;
}
.page{
    line-height: 40px;
    padding-left: 20px;
    text-align: left;
    font-size: 22px;
    color: #dba703 !important;
    text-transform: uppercase;
}
@media (max-width: 640px) { 
    .hide-sm{
        display: none !important;
    }
    .xs-100{
        width: 100%;
    }
    .xs-100 img{
        margin: 0 auto;
    }
    .margin-sm{
        margin-top: 45px;
    }
 }

 .ds_small-logo{
    height: 40px;
    display: inline-block;
    padding-right: 5px;
 }

 .invest-title{
    background: #dba703;
 }

 .ygImg{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
 }

 .whysup{
    background: #dba703;
    padding: 10px 5px;
    color: white;
    font-weight: bold;
 }

 body,
html{
    font-family: 'Source Sans Pro', sans-serif;
}

.sec-title p {
    color: #dba703;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 7px;
}

.sec-title .title {
    position: relative;
    display: block;
    color: #27282c;
    font-size: 25px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
}

.sec-title .bottom-text {
    color: #7c7e84;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    text-transform: none;
}

.sec-title .title span {
    font-weight: 400;
}